.wrap-search {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #eee;
    width: 100%;
    height: 200px;
    border-radius: 60px;
}
.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
}
.input-search {
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all 0.5s ease-in-out;
    background-color: #22a6b3;
    padding-right: 40px;
    color: #fff;
}
.input-search::placeholder {
    color: #0d0053;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}
.btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: #0d0053;
    background-color: transparent;
    pointer-events: painted;
}
.btn-search:focus ~ .input-search {
    width: 400px;
    border-radius: 10px;
    background-color: #84b9d5aa;
    border-bottom: 1px solid #0d0053;
    transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input-search:focus {
    width: 444px;
    border-radius: 10px;
    background-color: #2193d1aa;
    border-bottom: 1px solid #0d0053;
    transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
