@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    /* font-family: 'Roboto Mono', monospace; */
}
:root {
    --mainColor: #0d0053;
    --mainColorLight: #5767aa;
    --secondaryColor: #2193d1;
    --textColor: #eee;
}

header {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
}
.logo {
    margin-top: 10px;
    margin-bottom: 10px;
}
.logo img {
    height: 60px;
}
.nav-list {
    padding: 2rem;
}
.link {
    margin: 0 1rem;
    color: var(--textColor);
    font-weight: 400;
    text-decoration: none;
    transition: 0.5s;
}

.link:hover {
    color: var(--secondaryColor);
}

.link-name {
    margin-left: auto;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--mainColorLight);
    color: var(--textColor);
    transition: 0.75s;
}

.link-name:hover {
    background-color: var(--textColor);
    color: var(--mainColor);
}
.link-name2 {
    margin-left: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--textColor);
    color: var(--secondaryColor);
    transition: 0.75s;
}

.link-name2:hover {
    background-color: var(--mainColorLight);
    color: var(--mainColor);
}
